@using ThanhHuongSolution.Models.Customer;
@model ListCustomerModel

@{
    ViewBag.Title = "List";
}

<body>

    <div class="inner-wrapper" ng-app="ThanhHuongSolution" ng-controller="CustomerController">
        <!-- start: sidebar -->
        
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            

            <section class="panel">
                <header class="panel-heading">
                    <!--<div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                    </div>-->
                    <h2 class="panel-title">Danh Sách Khách Hàng</h2>
                </header>
                <div class="panel-body" ng-init="init(@Html.Raw(Model.ToJSon())">
                    <div class="pull-right form-inline">
                        <a class="btn btn-success" href="#"><i class="fa fa-user-plus"></i>Thêm Khách Hàng</a>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Mã Khách Hàng</th>
                                <th>Tên Khách Hàng</th>
                                <th>Số Điện Thoại</th>
                                <th>Địa Chỉ</th>
                                <th class="hidden-phone">Tồn Nợ</th>
                                <th class="hidden-phone">Lịch Sử Mua Bán</th>
                                <th class="hidden-phone"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr class="gradeX"  ng-repeat="customer in customers">
                                <td>{{customer.TrackingNumber}}</td>
                                <td>
                                    {{customer.Name}}
                                </td>
                                <td>{{customer.PhoneNumber}}</td>
                                <td class="center hidden-phone">{{customer.Address}}</td>
                                <td class="center hidden-phone">{{customer.LiabilityAmount}} VND</td>
                                <td class="center hidden-phone">
                                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-info">Xem Lịch Sử</button>
                                </td>
                                <td class="center hidden-phone">
                                    <button type="button" class="btn btn-default"><i class="fa fa-star fa-lg color-yellow"></i></button>
                                    <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>*@

                            @foreach (var customer in Model.LstCustomer)
                            {
                                <tr class="gradeX">
                                    <td>@customer.TrackingNumber</td>
                                    <td>@customer.Name</td>
                                    <td>@customer.PhoneNumber</td>
                                    <td class="center hidden-phone">@customer.Address</td>
                                    <td class="center hidden-phone">@customer.LiabilityAmount VND</td>
                                    <td class="center hidden-phone">
                                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-info">Xem Lịch Sử</button>
                                    </td>
                                    <td class="center hidden-phone">
                                        <button type="button" class="btn btn-default"><i class="fa fa-star fa-lg color-yellow"></i></button>
                                        <button type="button" class="btn btn-default"><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </section>
    </div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
    var app = angular.module('ThanhHuongSolution', []);
    app.controller('CustomerController', function ($scope) {
        $scope.init = function(data)
        {
            alert(data);

            $scope.customers = data;
        }
    });

    //Controller

    //Service
</script>